* {
  box-sizing: border-box;
}

body {
  background: #444444;
  color: #f1f1f1;
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.hidden {
  display: none !important;
}

#nickname-container {
  align-items: center;
  height: 2rem;
  margin-bottom: 10px;
}

#nickname-container * {
  margin-right: 10px;
}

#nickname-container button {
  height: 100%;
}

#nickname-container input {
  padding-left: 10px;
  height: 100%;
}

#form {
  padding: 0.25rem;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 3rem;
  backdrop-filter: blur(10px);
}

#form .chat-area {
  background-color: #333333;
  height: 3rem;
  padding: 10px;
  display: flex;
  align-items: center;
}

#typing-area {
  display: flex;
  position: fixed;
  align-items: center;
  bottom: 4rem;
}

#input {
  height: 100%;
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form button {
  background: rgb(95, 95, 95);
  border: none;
  height: 100%;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
#messages > li {
  word-break: break-word;
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  color: #111111;
  background: #efefef;
}

/* Typing CSS Loader */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
}
.lds-ellipsis div {
  position: absolute;
  /* top: 33px; */
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
